<div class="content">
    <div class="user_profile_cap">

        <div class="user_profile_cover", style = "background-image: url(<%= profile.cover.url%>);"></div>

        <div class="user_profile_headline">
            <%= image_tag profile.avatar.url(:medium) %> 

            <h2><%= profile.username %></h2>
            <span><%= profile.bio %></span><br>
            <span><i><small><%= current_city %>, <%= current_country %></small></i></span><br>
            <strong>Interested in:  
                <i style= "color:red;">       
                    <%= uniq_category_name profile.user.posts %>
                </i>
            </strong>
        </div>
    </div><br>
    
    <% if profile.user == current_user %>
        <%= link_to 'Edit Profile', edit_user_profile_path(user.id, profile.id), class: "btn btn-primary" %> 
        <%= link_to 'Edit Password', edit_password_path, class: "btn btn-primary" %> 
        <%= link_to 'Back', root_path, class: "btn btn-primary" %>
        <div class="card">
            <h5 class="card-header">Unhappy?? Cancel your account here</h5>
            <div class="card-body">
                <%= link_to 'Cancel Account', cancel_path, class: 'btn btn-outline-danger btn-sm', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
        </div><br>
    <% else %>
        <%= link_to 'Back', root_path, class: "btn btn-primary", style: 'float:right;' %>
        <%= button_to 'Team UP', rooms_path(sender_id: current_user.id, recipient_id: params["id"]), method: :post, class: "btn btn-danger" %>
    <% end %>
    <br><br>
</div>