
<div class="content">
    <div class="in-button-div">
        <button class="show-post-form-button" onclick="handlePostFormToggler()">
                <%= image_tag current_user.profile.avatar.url, class: "in-button-avatar" %>
                <small style="float: right;">Hello, <%= current_user.profile.username %></small>
                <br><br>
                <p class="in-button-p">Have Something to Say?</p>
        </button>
    </div>
    <br>
    
    <div class="filter-posts">
        <h6>Filter posts:</h6>
        <%= form_tag(posts_path, method: :get) do %>
            <%= select_tag "category", options_from_collection_for_select(Category.all, :id, :name), include_blank: true %>
            <%= submit_tag "Filter", class: "btn btn-warning btn-sm" %>
        <% end %>
    </div>
    <br><br>

    <div class="hidden-post-form">
        <%= render partial: 'posts/form', locals: {post: @post} %>
    </div>
    <br><br>
</div>
<% if @over_ten %>
    <%= link_to 'Show More', '?more=all' %>
<% end %>
<div class="content-posts">
    <%= render partial: 'posts/posts', locals: {posts: @posts, current_city: @current_city, current_country: @current_country } %>
</div>



